*, 
*:after,
*:before {
  box-sizing: border-box;
}

/*=======================================================
 Base Styles
 =======================================================*/
body {
    color: #f2f2f2;
    background-color: #f2f2f2;
    margin: 50px auto;
    font-size: 18px;
}

h1 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 2.441rem;
    font-weight: 700;
    font-family: 'Big Shoulders Display', cursive;
}

p {
    color: rgba(255,255,255, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    line-height: 1.5em;
}

/*=======================================================
 Container Styles
 =======================================================*/
.container {
    width: 90%;
    max-width: 430px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(3, 475px);
}

/*=======================================================
 Card Styles
 =======================================================*/
.card {
    padding: 2.5em 12%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card--sedan {
    background-color: #e28625;
    border-radius: 20px 20px 0 0;
}
    
.card--suv {
    background-color: #006971;
}
    
.card--luxury {
    background-color: #004140;
    border-radius: 0 0 20px 20px;
}
    .card__button {
        width: 150px;
        height: 50px;
        text-decoration: none;
        margin-top: auto;
        background-color: #f2f2f2;
        border: 2px solid #f2f2f2;
        border-radius: 32px;
        font-family: 'Lexend Deca', sans-serif;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card__button:hover {
        color: #f2f2f2;
        background-color: transparent; 
    }
    .card__button--sedan  {
        color: #e28625;
    }

    .card__button--suv  {
        color: #006971;
    }

    .card__button--luxury  {
        color: #004140;
    }

/*=======================================================
 Media Query Styles
 =======================================================*/
@media only screen and (min-width: 1000px) {
    body {
        height: 100vh;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 525px;
        max-width: 900px;
    }
    .card--sedan {
        border-radius: 10px 0 0 10px;
    }
        
    .card--luxury {
        border-radius: 0 10px 10px 0;
    }
}

    

    



    









   